<h2>Custom Observable</h2>

<div class="row">
  <div class="col-md-6">
    <strong>Ex - 01 (Manual)</strong>

    <ul
      [ngClass]="
        techStatus == 'completed'
          ? 'completed'
          : techStatus == 'error'
          ? 'error'
          : ''
      "
      class="techList"
      id="elContainer"
    ></ul>
  </div>
  <div class="col-md-6">
    <strong>Ex - 02 (Custom Interval Observable)</strong>

    <ul
      [ngClass]="
        techStatus2 == 'completed'
          ? 'completed'
          : techStatus2 == 'error'
          ? 'error'
          : ''
      "
      class="techList"
      id="elContainer2"
    ></ul>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <p class="bg-light border rounded pl-3">
      <strong>Random Names: </strong
      >'Anup','Shekar','Sharma','UxTrands','Gaurav','Robort'
    </p>
    <hr />
    <p>
      Current Name: <strong class="text-success"> {{ names }}</strong>
    </p>
    <span
      class="badge"
      [ngClass]="
        nameStatus == 'completed'
          ? 'badge-success'
          : nameStatus == 'error'
          ? 'badge-danger'
          : 'badge-primary'
      "
      >{{ nameStatus }}
    </span>
  </div>
</div>
