.card {
  box-shadow: inset 0 0 5px rgb(125, 128, 156);
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
}
.card:hover {
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  box-shadow: 0 0 10px 1px;
}
h6 {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 2px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #000);
  background-repeat: no-repeat;
  background-size: 100%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
