<h2>DebounceTime and DistinctUntilChanged</h2>
<hr />
<div class="row">
  <div class="col-lg-6">
  <strong>Ex - 01 <span class="text-primary">DebounceTime</span></strong>
  <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Search...</label>
    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter Search Text" #myInput>
  </div>
</form>
<span *ngIf='data !=null'>Requested Data: <strong class="text-success">{{data}}</strong> </span>
  </div>
  <div class="col-lg-6"></div>
</div>
